<!-- botones -->
<div class="d-flex justify-content-center border-top align-items-end bg-body">


    <a href="{% url 'order_list' %}" class="col-3 text-center btn btn-sm py-2">
        <div class="rounded-pill pt-2 pb-1 {% if option == 1 %} bg-primary-subtle text-primary-emphasis {% else %} text-muted {% endif %}">
            <i class="bi bi-list-ul h4"></i>
        </div>
        <span class="small {% if option == 1 %} fw-medium {% endif %}">Solicitudes</span>
    </a>

    <a href="{% url 'report_list' %}" class="col-3 text-center btn btn-sm py-2">
        <div class="rounded-pill pt-2 pb-1 {% if option == 3 %} bg-primary-subtle text-primary-emphasis {% else %} text-muted {% endif %}">

            <div class="position-relative">
                <i class="bi bi-card-text h4 "></i>
                {# <span class="position-absolute top-0 start-95 translate-middle p-1 bg-danger border border-light rounded-circle"> #}
            </div>

        </div>
        <span class="small {% if option == 3 %} fw-medium {% endif %}">Próximas</span>
    </a>


    <a href="{% url 'order_history_list' %}" class="col-3 text-center btn btn-sm py-2">
        <div class="rounded-pill pt-2 pb-1 {% if option == 2 %} bg-primary-subtle text-primary-emphasis {% else %} text-muted {% endif %}">
            <i class="bi bi-archive h4"></i>
        </div>
        <span class="small {% if option == 2 %} fw-medium {% endif %}">Actividad</span>
    </a>

    <a href="{% url 'user_profile' %}" class="col-3 text-center btn btn-sm py-2">
        <div class="rounded-pill pt-2 pb-1 {% if option == 4 %} bg-primary-subtle text-primary-emphasis {% else %} text-muted {% endif %}">
            <i class="bi bi-person h4"></i>
        </div>
        <span class="small {% if option == 4 %} fw-medium {% endif %}">Usuario</span>
    </a>

</div>