<div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">
        {{ title }}
    </a>

    <div class="d-flex align-items-center">
        {# Dropdown #}
        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block btn" data-bs-toggle="dropdown" aria-expanded="true">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu text-small shadow-sm"
                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 34px, 0px);"
                data-popper-placement="bottom-end">
                <li><a class="dropdown-item py-2" href="{% url 'settings' %}">Ajustes</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item py-2" href="{% url 'settings' %}">Información</a></li>
            </ul>
        </div>
    </div>
</div>