<!-- templates/order_list.html -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Ordenes de {{ user.get_username }}</h2>
        <ul>
            {% for order in orders %}
                <li>
                    <a href="{% url 'order_detail' order.pk %}">Order #{{ order.id }} ({{ order.status }})</a>
                    [<a href="{% url 'order_aprove' order.pk %}">autorizar</a>]
                    [<a href="{% url 'order_report' order.pk %}">Reportar</a>]
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
