<!-- templates/order_list.html -->
{% extends "bases/base-nav.html" %}

{% block nav %}
    {% include "navegation/top.html" with title="Historial" %}
{% endblock %}


{% block content %}

    {# Barra inferior #}
    <div class="fixed-bottom">

        {# barra de navegacion inferior #}
        {% include "navegation/bottom.html" with option=2 %}

    </div>


    <div class="min-vh-100 ">
        <div class="container">

            {# lista de ordenes anteriores #}
            <ul class="list-group list-group-flush pb-3">

                {% for order in orders %}
                    <a class="list-group-item d-flex justify-content-between align-items-start"
                       href="{% url 'order_detail' order.pk %}">

                        <div class=" me-auto">
                            <div class="">{{ order.order_date|date:"F d, Y" }}</div>

                            {% if order.get_report.active %}
                                <span class="text-secondary text-danger small fw-medium">Reportada</span>
                            {% else %}
                                <span class="text-secondary small">{{ order.get_status_display }}</span>
                            {% endif %}

                        </div>

                        <span class="text-secondary small">{{ order.created_at|date:"d/m/y" }}</span>
                    </a>

                {% endfor %}
            </ul>

            {% if page_obj.has_next %}
                <div class="text-center pt-3 verical-align-center">
                    <a class="btn btn-outline-secondary" href="{% url 'order_history_list' %}?page={{ page_obj.next_page_number }}">Ver más Ordenes</a>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}