<!-- templates/order_detail.html -->
{% extends "bases/base-nav.html" %}

{% comment %}

        <a class="navbar-brand fw-light col-1" href="{{ request.META.HTTP_REFERER }}">
            <i class="bi bi-arrow-left"></i>
        </a>

        <div class="flex-fill text-center">
            Detalles
        </div>

        <div class="col-1">

        </div>


        <div class="">
            <a class="btn" href="{{ request.META.HTTP_REFERER }}">
                <i class="bi bi-arrow-left"></i>
            </a>
            Detalles
        </div>

{% endcomment %}

{% block nav %}

    <div class="container-fluid ">
        <div class="navbar-brand">
            Detalles
        </div>
        <a class="btn" href="{{ request.META.HTTP_REFERER }}">
            <i class="bi bi-x-lg"></i>
        </a>
    </div>




{% endblock %}



{% block content %}
    <div class="container">


        <span class="fw-medium">Order {{ order.id }}</span>


        {% for message in messages %}
            <ul class="message">
                <li>{{ message }}</li>
            </ul>
        {% endfor %}

        <p>Order Date: {{ order.order_date }}</p>
        <p>Return Date: {{ order.return_date }}</p>
        <p>Status: {{ order.status }}</p>
        <p>Units:</p>
        <ul>
            {% for unit in order.units.all %}
                <li>{{ unit.item.name }} - {{ unit.serial_number }}</li>
            {% endfor %}
        </ul>

        {% if order.get_report %}
            <h2>Report</h2>
            <p>details: {{ order.get_report.details }}</p>
        {% endif %}

        [<a href="{% url 'order_aprove' order.pk %}">autorizar</a>]
        [<a href="{% url 'order_report' order.pk %}">Reportar</a>]
    </div>


{% endblock %}
