<!-- templates/order_detail.html -->
{% extends "bases/base-nav.html" %}


{% block nav %}

    <div class="container-fluid ">
        <div class="navbar-brand">
            Detalles
        </div>
        <a class="btn" href="{{ request.META.HTTP_REFERER }}">
            <i class="bi bi-x-lg"></i>
        </a>
    </div>

{% endblock %}



{% block content %}


    <div class="container">


        {% for message in messages %}
            <ul class="message">
                <li>{{ message }}</li>
            </ul>
        {% endfor %}

        <div class="card mb-4">
            <div class="card-header fw-medium align-middle">
                    <div class="me-auto">
                        <i class="bi bi-info-circle"></i>
                        <span class="fw-medium">Información</span>
                    </div>

            </div>


            <div class="card-body">

                <div class="row ">
                    <div class="row align-items-start ">

                        <div class="col py-1">
                            <span class=""><i class="bi bi-box-arrow-in-right"></i> Entrega</span>
                            <br>
                            <span class="text-secondary text-nowrap">{{ order.order_date|date:"d M · H:i" }}</span>
                        </div>

                        <div class="col border-start py-1">
                            <span class=""><i class="bi bi-box-arrow-in-left"></i> Devolución</span>
                            <br>
                            <span class="text-secondary text-nowrap">{{ order.return_date|date:"d M · H:i" }}</span>
                        </div>

                    </div>
                </div>


            </div>


            <div class="card-footer bg-transparent ">
                {% if order.status in 'cancelled, rejected' %}
                    <span class="badge text-bg-danger">{{ order.get_status_display }}</span>
                {% elif order.status in 'approved, delivered, returned' %}
                    <span class="badge text-bg-success">{{ order.get_status_display }}</span>
                {% else %}
                    <span class="badge text-bg-secondary">{{ order.get_status_display }}</span>
                {% endif %}
            </div>

        </div>




        {% if order.get_report %}
            <div class="card my-4">
                <div class="card-header fw-medium"><i class="bi bi-exclamation-circle"></i> Reporte</div>
                <div class="card-body">
                    <p>{{ order.get_report.details }}</p>
                </div>

                <div class="card-footer bg-transparent ">
                    <span class="small text-secondary">
                        {{ order.get_report.created_at|date:"d F · H:i" }}
                    </span>
                </div>
            </div>
        {% endif %}


        <div class="card my-4">
            <div class="card-header fw-medium">
                Artículos
            </div>
            <ul class="list-group list-group-flush">
                {% for unit in order.units.all %}

                    <li class="list-group-item">
                        <div class="ms-2 me-auto">
                            <div class="">{{ unit.item.name }}</div>
                            <span class="text-secondary">{{ unit.serial_number }}</span>
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>



    {% if order.status == 'pending' %}
        <div class="container fixed-bottom">
            <div class="d-grid mb-3">
                <button class="btn btn-primary" type="button">Cancelar Orden</button>
            </div>
        </div>
    {% endif %}



{% endblock %}
