<!-- templates/order_list.html -->
{% extends 'bases/base-nav.html' %}

{% block nav %}
  {% include 'navegation/top.html' with title='Historial' %}
{% endblock %}

{% block content %}
  <div class="container" style="margin-bottom: 6em;">
    {# Botones #}
    <div class="d-flex gap-2 my-2 mb-2">
      <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
      <label class="btn btn-outline-primary col" for="option1">Ordenes</label>

      <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
      <label class="btn btn-outline-primary col" for="option2">Reportes</label>
    </div>

    <ul class="list-group">
      {% for order in orders %}
        {% if not order.get_report.active %}
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" href="{% url 'order_detail' order.pk %}">
            <div class="me-auto">
              <div class="fw-medium">{{ order.order_date|date:'F d, Y' }}</div>

              {% if order.status == 'pending' %}
                <span class="text-secondary small">Vencida</span>
              {% else %}
                <span class="text-secondary small">{{ order.get_status_display }}</span>
              {% endif %}
            </div>

            <span class="text-secondary small">{{ order.created_at|date:'d/m/y' }}</span>
          </a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
          <a class="text-center text-secondary list-group-item list-group-item-action" href="{% url 'order_history_list' %}?page={{ page_obj.next_page_number }}">
            Ver más Ordenes...
        </a>
      {% endif %}
    </ul>
  </div>

  {# Barra inferior #}
  <div class="fixed-bottom">
    {# barra de navegacion inferior #}
    {% include 'navegation/bottom.html' with option=2 %}
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
