{% extends 'bases/base-nav.html' %}
{% load widget_tweaks %}
{% load static %}

{% block nav %}
<div class="container-fluid">
    <div class="navbar-brand fw-medium">Ajustes</div>
    <a class="btn" href="{{ request.META.HTTP_REFERER }}"><i class="bi bi-x-lg"></i></a>
</div>
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
{% endfor %}
{% endif %}

        <form class="container m-auto" method="post">
            {% csrf_token %}

            {{ order_form.as_p }}

            <div class="container">
                {{ item_formset.management_form }}
                {{item_formset}}

            </div>


            <button class="mt-3" type="submit">Confirmar</button>
        </form>

        {% comment "" %}
                        {% for form in item_formset %}
                    {% render_field form.item  %}
                    {% render_field form.quantity  %}
                {% endfor %}
        {% endcomment %}
{% endblock %}
