<!-- templates/order_detail.html -->
{% extends "bases/base-nav.html" %}


{% block nav %}

    <div class="container-fluid ">
        <div class="navbar-brand fw-bold">
            Detalles
        </div>
        <a class="btn" href="{{ request.META.HTTP_REFERER }}">
            <i class="bi bi-x-lg"></i>
        </a>
    </div>

{% endblock %}



{% block content %}


    <div class="container">


        {% for message in messages %}
            <ul class="message">
                <li>{{ message }}</li>
            </ul>
        {% endfor %}



        <div class="mb-4">
            <div class="row align-items-start my-1">

                <div class="col py-2 mb-1 border-end">
                    <div class="small text-secondary pb-1">
                        <i class="bi bi-box-arrow-in-right"></i> Entrega
                    </div>
                    <span class="text-nowrap fw-medium h5">{{ order.order_date|date:"d M, H:i" }}</span>
                </div>

                <div class="col py-2 mb-1">
                    <div class="small text-secondary pb-1">
                        <i class="bi bi-box-arrow-in-left"></i> Devolución
                    </div>
                    <span class="text-nowrap fw-medium h5">{{ order.return_date|date:"d M, H:i" }}</span>
                </div>

                <div class="pt-2">
                    {% if order.status in 'cancelled, rejected' %}
                        <span class="badge text-bg-danger">{{ order.get_status_display }}</span>
                    {% elif order.status in 'approved, delivered, returned' %}
                        <span class="badge text-bg-success">Aprobada</span>
                    {% else %}
                        <span class="badge text-bg-secondary">{{ order.get_status_display }}</span>
                    {% endif %}
                </div>

            </div>



        </div>

     {% if order.get_report %}

                <div class="card mt-4">

                    <div class="card-header">
                        <div class="text-secondary small">
                            <i class="bi bi-exclamation-circle"></i> Reporte
                        </div>
                    </div>

                    <div class="card-body">
                        <span>{{ order.get_report.details }}</span>
                    </div>
                </div>
            {% endif %}


        <div class="card mt-4">

            <div class="card-header">
                <span class="small text-secondary">
                    Artículos
                </span>
            </div>

            <ul class="list-group list-group-flush">
                {% for unit in order.units.all %}

                    <li class="list-group-item">
                        <div class="ms-2 me-auto">
                            <div class="fw-medium">{{ unit.item.name }}</div>
                            <span class="text-secondary small">{{ unit.serial_number }}</span>
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>


    </div>


    <div class="container my-3">
        <span class="small text-secondary">
            Creado el {{ order.created_at|date:"d/m/Y, H:i" }}
        </span>
    </div>




    {% if order.status == 'pending' %}
        <div class="container fixed-bottom bg-body">
            <div class="d-grid my-3">
                <button class="btn btn-primary btn-lg" type="button">Cancelar Orden</button>
            </div>
        </div>
    {% endif %}



{% endblock %}
