{% extends 'bases/base-nav.html' %}

{% block nav %}
    {% include 'navegation/top.html' with title='Solicitudes' %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 6em;">

        {# Lista única de órdenes #}

        {% for order in orders %}
            <ul class="list-group list-group-flush mt-3">
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
                   href="{% url 'order_detail' order.pk %}">
                    <div class="me-auto">
                        <div class="fw-medium">{{ order.order_date|date:'F d, Y' }}</div>
                        <span class="text-muted small">
                            {% if order.status == "pending" %}
                                Pendiente
                            {% else %}
                                {{ order.get_status_display }}
                            {% endif %}
                        </span>
                    </div>
                    {# <span class="text-muted small">{{ order.created_at|date:'d/m/y' }}</span> #}
                </a>
            </ul>
        {% empty %}

            <div class="align-items-center justify-content-center" style="margin-top: 8em;">
                <div class="text-center row text-secondary">
                    <i class="bi bi-calendar-x mb-2" style="font-size: 50px;"></i>
                    <span class="h5 text-muted">No hay solicitudes próximas</span>
                    <span class="small text-secondary">Actualmente no tienes solicitudes programadas.</span>
                </div>
            </div>

        {% endfor %}

    </div>

    {# Barra inferior #}
    <div class="fixed-bottom">
        {# Barra de navegación inferior #}
        {% include 'navegation/bottom.html' with option=3 %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
