{% extends 'bases/base-nav.html' %}

{% block nav %}
    {% include 'navegation/top.html' with title='Solicitudes' %}
{% endblock %}

{% block content %}
    <div class="container mt-3" style="margin-bottom: 6em;">
        {# Mensajes de error #}
        {% for message in messages %}
            <div class="alert alert-danger d-flex align-items-center">
                <i class="bi bi-exclamation-circle-fill"></i><span class="ps-1">{{ message }}</span>
            </div>
        {% endfor %}

        {# Lista única de órdenes #}
        <ul class="list-group list-group-flush">
            {% for order in orders %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
                   href="{% url 'order_detail' order.pk %}">
                    <div class="me-auto">
                        <div class="fw-medium">{{ order.order_date|date:'F d, Y' }}</div>
                        <span class="text-muted small">
                            {% if order.status == "pending" %}
                                Pendiente
                            {% else %}
                                {{ order.get_status_display }}
                            {% endif %}
                        </span>
                    </div>
                    <span class="text-muted small">{{ order.created_at|date:'d/m/y' }}</span>
                </a>
            {% empty %}

                <div class="align-items-center justify-content-center" style="margin-top: 8em;">
                    <div class="text-center row text-secondary">
                        <i class="bi bi-calendar-x mb-2" style="font-size: 50px;"></i>
                        <span class="h5 text-muted">No hay solicitudes próximas</span>
                        <span class="small text-secondary">Actualmente no tienes solicitudes programadas.</span>
                    </div>
                </div>

            {% endfor %}
        </ul>
    </div>

    {# Barra inferior #}
    <div class="fixed-bottom">
        {# Barra de navegación inferior #}
        {% include 'navegation/bottom.html' with option=3 %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
