{% extends 'bases/base-nav.html' %}

{% block script %}
    <script>
        document.addEventListener('alpine:init', () => {
            // Inicializar el store de Alpine con el tema actual o el tema por defecto (light)
            Alpine.store('appTheme', localStorage.getItem('appTheme') || 'light');

            // Función para guardar el tema en localStorage y actualizar el atributo data-bs-theme
            window.saveTheme = function () {
                localStorage.setItem('appTheme', Alpine.store('appTheme'));
                document.documentElement.setAttribute('data-bs-theme', Alpine.store('appTheme'));
            };

            // Aplicar el tema al cargar la página
            document.documentElement.setAttribute('data-bs-theme', Alpine.store('appTheme'));
        });
    </script>
{% endblock %}

    
{% block nav %}
    <div class="container-fluid ">
        <div class="navbar-brand fw-bold">
            Ajustes
        </div>
        <a class="btn" href="{{ request.META.HTTP_REFERER }}">
            <i class="bi bi-x-lg"></i>
        </a>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="form-check form-check-reverse form-switch mt-2 flex-d">
            <input class="form-check-input " type="checkbox" role="switch" id="themeSwitch"
                :checked="$store.appTheme === 'dark'"
                @change="$store.appTheme = $event.target.checked ? 'dark' : 'light'; saveTheme()">
            <div class="flex-fill text-start">
                <label class="form-check-label " for="themeSwitch">Tema oscuro</label>
            </div>
        </div>
    </div>
{% endblock %}


