{% extends 'bases/base-nav.html' %}

{% block nav %}
    {% include 'navegation/top.html' with title='Usuario' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                <h3 class="text-primary">
                    <i class="bi bi-person-circle"></i> Nombre de usuario
                </h3>
                <p class="fs-5">{{ user.username }}</p>
            </div>
            <div class="mb-4">
                <h3 class="text-primary">
                    <i class="bi bi-envelope"></i> Correo electrónico
                </h3>
                <p class="fs-5">{{ user.email }}</p>
            </div>
            <div class="mb-4">
                <h3 class="text-primary">
                    <i class="bi bi-person-fill"></i> Nombre
                </h3>
                <p class="fs-5">{{ user.first_name }}</p>
            </div>
            <div class="mb-4">
                <h3 class="text-primary">
                    <i class="bi bi-person-fill"></i> Apellido
                </h3>
                <p class="fs-5">{{ user.last_name }}</p>
            </div>
            <div class="text-center mt-4">
                <a href="#" class="btn btn-outline-primary btn-lg">
                    <i class="bi bi-pencil-square"></i> Editar Perfil
                </a>
            </div>
        </div>
    </div>
</div>

{# Barra inferior #}
<div class="fixed-bottom">
    {# Barra de navegación inferior #}
    {% include 'navegation/bottom.html' with option=4 %}
</div>
{% endblock %}
